@media only screen and (max-width: 767px) {
  .code-desk,
  .side-nav,
  .btn,
  .side,
  .main {
    display: none;
  }
  .mobile-placeholder {
    display: block;
  }
}
@media only screen and (min-width: 768px){
    .about-me-box{
        height: 680px;
    }
}


